@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #18181b;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: #f4f4f5;
  color: #18181b;
}